/* simple reset */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background: #111214;
  color: #eee;
}
#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
canvas {
  display: block; /* remove inline gap */
}
